<div class="panel panel-primary processes">
  <div class="panel-heading panel-heading-processes">
    <h4 class="panel-title">Processes</h4>
  </div>
  <div class="panel-body panel-processes">
    <p>There are no running processes</p>
  </div>
</div>

