<table class="table table-striped table-hover table-condensed process-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Pid</th>
      <th>User</th>
      <th>Group</th>
      <th>Uptime</th>
      <th>Restarts</th>
      <th>Memory</th>
      <th>CPU</th>
    </tr>
  </thead>
  <tbody data-hook="processes"></tbody>
</table>
