
.system-details
  .type, .platform, .arch, .release, .boss, .uptime
    width: 80px

@media (max-width: 512px)
  .system-details
    .type, .platform, .arch, .release
      display: none

@media (max-width: 640px)
  .system-details
    .type, .arch
      display: none

.resource-data
  text-align: center
