// app/layout.styl

@import '../_variables'
@import '../_mixins'

// your styles here:
body
  background: #3D3D3D

.navbar-inverse
  border: none
  border-radius: 0

.navbar-brand
  display: block
  padding-left: 55px
  background-repeat: no-repeat
  background-image: url('/images/boss.png')

.navbar-inverse .navbar-brand:hover
  color: #777

.host-data table
  max-width: 50%
  margin: 0

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .navbar-brand
    background-image: url('/images/boss@2x.png')
    background-size: 50px 50px

