<li class="host-name">
  <span>{{model.name}}</span>
  <ul>
    <li><a href="/host/{{model.name}}/system"><i class="fa fa-area-chart"></i> System</a></li>
    <li><a href="/host/{{model.name}}/processes"><i class="fa fa-tasks"></i> Processes</a></li>
  </ul>
</li>
