<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Resource usage</h4>
  </div>
  <div class="panel-body resource-data">
    <div data-hook="cpu-usage" style="min-width: 320px; height: 150px; margin: 0 auto 20px auto; display: inline-block"></div>
    <div data-hook="memory-usage" style="min-width: 320px; height: 160px; margin: 0 auto; display: inline-block"></div>
  </div>
</div>