<section class="page host">
  <div class="row">
    <div class="col-md-12">
      <h1>{{model.name}} <small>System information</small></h1>
      <span data-hook="system-data"></span>
      <span data-hook="cpu-data"></span>
    </div>
  </div>
</section>
