<section class="page process">
  <div class="row">
    <div class="col-md-12">
      <h1>{{model.title}}</h1>
      <span data-hook="details"></span>
      <span data-hook="memory"></span>
      <span data-hook="cpu"></span>
      <span data-hook="logs"></span>
    </div>
  </div>
</section>
