body {
  background: #181818;
}
h1 {
  margin-top: 0;
}
#page-wrapper {
  padding-top: 0;
}
li.active {
  border-left: 7px solid #00609b;
}
.panel-primary {
  border-color: #00609b;
}
.panel-primary > .panel-heading {
  background-color: #00609b;
  border-color: #00609b;
}
.navbar {
  border-color: #181818;
}
.navbar-brand {
  display: block;
  padding-left: 55px;
  background-repeat: no-repeat;
  background-image: url("/images/boss.png");
  color: #777;
}
.navbar-brand:hover {
  color: #777;
}
.host-list .host-name {
  padding: 15px;
  width: 100%;
  background-color: #181818;
}
.resource-data {
  text-align: center;
}
.information {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
}
.information li.expand {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.information li:last-child {
  border-right: 1px solid #444;
}
.information li {
  display: inline-block;
  margin: 0;
  border: 1px solid #444;
  border-right: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.information li h3,
.information li p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.information li h3 {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  background-color: #222;
  border-bottom: 1px solid #444;
  color: #fff;
}
.information li p {
  padding: 5px;
  margin: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .navbar-brand {
    background-image: url("/images/boss@2x.png");
    background-size: 50px 50px;
  }
}
