body {
  background: #181818;
}
h1 {
  margin-top: 0;
}
#page-wrapper {
  padding-top: 0;
}
li.active {
  border-left: 7px solid #00609b;
}
.panel-primary {
  border-color: #00609b;
}
.panel-primary > .panel-heading {
  background-color: #00609b;
  border-color: #00609b;
}
.navbar {
  border-color: #181818;
}
.navbar-brand {
  display: block;
  padding-left: 55px;
  background-repeat: no-repeat;
  background-image: url("/images/boss.png");
  color: #777;
}
.navbar-brand:hover {
  color: #777;
}
.host-list .host-name {
  padding: 15px;
  width: 100%;
  background-color: #181818;
}
.resource-data {
  text-align: center;
}
.information {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
}
.information li.expand {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.information li:last-child {
  border-right: 1px solid #444;
}
.information li {
  display: inline-block;
  margin: 0;
  border: 1px solid #444;
  border-right: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.information li h3,
.information li p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.information li h3 {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  background-color: #222;
  border-bottom: 1px solid #444;
  color: #fff;
}
.information li p {
  padding: 5px;
  margin: 0;
}
.process-list {
  margin: 0;
  table-layout: fixed;
  width: 100%;
}
.process-list td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.process-list tbody tr:hover {
  cursor: pointer;
}
.process-list td small {
  color: #999;
}
.process-list .pid,
.process-list .uptime,
.process-list .restarts,
.process-list .cpu,
.process-list .memory {
  width: 80px;
}
@media (max-width: 512px) {
  .process-list .pid,
  .process-list .uptime,
  .process-list .restarts {
    display: none;
  }
}
@media (max-width: 640px) {
  .process-list .pid {
    display: none;
  }
}
.nav > li.host-name {
  padding: 0;
}
.nav > li.host-name span {
  display: block;
  padding: 15px 20px;
  background-color: #050505;
}
.panel-heading-logs button {
  float: right;
  margin-left: 5px;
}
.panel-logs {
  padding: 0;
}
ul.logs {
  background: #000;
  color: #fff;
  font-family: 'Lucida Console', Monaco, monospace;
  height: 400px;
  margin: 0;
  overflow: auto;
  padding: 5px 0;
}
ul.logs li {
  font-size: 12px;
  background-color: transparent;
  color: #fff;
  line-height: 1.4;
  white-space: pre;
  padding: 1px 5px;
  display: none;
}
ul.logs li.error {
  background-color: #330100;
}
ul.logs li.visible {
  display: block;
}
ul.logs:after {
  content: "\2588";
  margin-left: 5px;
  -webkit-animation: blinker 1s linear 0s infinite;
  -moz-animation: blinker 1s linear 0s infinite;
  -ms-animation: blinker 1s linear 0s infinite;
  -animation: blinker 1s linear 0s infinite;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .navbar-brand {
    background-image: url("/images/boss@2x.png");
    background-size: 50px 50px;
  }
}
@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes reloading {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@-webkit-keyframes reloading {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@-moz-keyframes erroring {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@-webkit-keyframes erroring {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes reloading {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@-webkit-keyframes reloading {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@-o-keyframes reloading {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@keyframes reloading {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@-moz-keyframes erroring {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@-webkit-keyframes erroring {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@-o-keyframes erroring {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
@keyframes erroring {
  0% {
    background: fade(, 20%);
  }
  50% {
    background: fade(, 5%);
  }
  100% {
    background: fade(, 20%);
  }
}
