<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Resource usage</h4>
  </div>
  <div class="panel-body">
    <div data-hook="cpu-usage" style="min-width: 340px; height: 150px; margin: 0 auto; display: inline-block"></div>
  </div>
</div>