<ul id="active" class="nav navbar-nav side-nav host-list">
  <li class="host-name">{{model.name}}</li>
  <li><a href="/host/{{model.name}}/system"><i class="fa fa-area-chart"></i> System</a></li>
  <li><a href="/host/{{model.name}}/processes"><i class="fa fa-tasks"></i> Processes</a></li>
</ul>

