<div class="panel panel-primary exceptions">
  <div class="panel-heading panel-heading-exceptions">
    <h4 class="panel-title">Exceptions</h4>
  </div>
  <div class="panel-body panel-exceptions">
    <table class="exceptions" data-hook="exceptions"></table>
  </div>
</div>
