<body>
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">Boss</span>
      </div>
      <ul class="nav navbar-nav">
      {{#each hosts}}
        <li class="active">
          <a href="/host/{{name}}">{{name}}</a>
        </li>
      {{/each}}
      </ul>
    </div>
  </nav>
  <div class="container">
    <main data-hook="page-container"></main>
  </div>
</body>
