<body>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" data-hook="toggle-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" href="/">Boss</span>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="active" class="nav navbar-nav side-nav host-list">
          {{#each hosts}}
            <li class="host-name">{{name}}</li>
            <li class="selected"><a href="/host/{{name}}/system"><i class="fa fa-area-chart"></i> System</a></li>
            <li><a href="/host/{{name}}/processes"><i class="fa fa-tasks"></i> Processes</a></li>
          {{/each}}
        </ul>
        </ul>
      </div>
    </nav>

    <div id="page-wrapper" data-hook="page-container">

    </div>
  </div>
</body>
