<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Vital statistics</h4>
  </div>
  <div class="panel-body">
    <h5>Script</h5>
    <p>{{model.script}}</p>
  </div>
</div>
